<footer class="fondo">
  <div class="text-center">
      <a routerLink="/contact" >Contáctenos</a>
      <a routerLink="/clients" >Portafolio</a>
      <a routerLink="/contact" > Soporte</a>
  </div>
  <br />
  <div class="text-center">
      Copyright <br> © iQ Studio - Guatemala<br>
       <a href="http://www.mecatestudio.com/" target="_blank">© MecateStudio - Nicaragua</a>
  </div>
<hr style="border: solid 1px gray">
  <div class="text-center">
    <strong><a href="mailto:info@iqstudiogt.com"><i class="fas fa-envelope"></i> info@iqstudiogt.com</a></strong>
    <strong><a href="tel:+50277913525"><i class="fas fa-phone"></i> 7791-3525</a></strong>
  </div>
</footer>
