<main class="container">
  <div class="row">
    <div class="col-md-5">
      <a href="http://www.marioobras.com/" target="_blank">
        <img src="assets/Images/laptop-clientes.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">MARIO OBRAS (España)</h4>
      <p class="text-secondary">Empresa dedicada a la reconstrucción
        y remodelaciones de interiores en toda España.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="http://foxclean.mx/" target="blank">
        <img src="assets/Images/laptop-clientes2.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">FOX CLEAN MEXICO</h4>
      <p class="text-secondary">Profesionales en el servicio de limpieza y mantenimiento para oficinas,
        comunidades y domésticos.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="http://marioasistencias.com/" target="blank">
        <img src="assets/Images/laptop-clientes1.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">MARIO ASISTENCIAS (España)</h4>
      <p class="text-secondary">Empresa de servicios
        múltiples las 24 horas como cerrajería, fontanería, electrodomésticos, ordenadores y más.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="http://www.truecolorsguatemala.com/" target="blank">
        <img src="assets/Images/laptop-clientes3.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">TRUE COLORS GUATEMALA</h4>
      <p class="text-secondary">
        Academia de Inglés en Antigua Guatemala, con más de 10 años de experiencia.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="https://serlaux.com/" target="blank">
        <img src="assets/Images/laptop-clientes6.jpg" alt="">
      </a>

    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">SERLAUX</h4>
      <p class="text-secondary">
        La empresa líder en el servicio de limpieza para terceros, ubicada en España.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="http://iglesialasendaantigua.com/" target="_blank">
        <img src="assets/Images/laptop-clientes4.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <div class="d-none d-sm-block" style="height: 50px"></div>
      <h4 class="text-secondary text-center">IGLESIA LA SENDA ANTIGUA (Estados Unidos)</h4>
      <p class="text-secondary">
        Iglesia Cristiana La Senda Antigua con servicio de streaming, ubicada en los Ángeles California.
      </p>
    </div>
  </div>

</main>
