<div class="row">
    <div class="col-md-5">
        <img src="assets/Images/laptop-clientes.jpg" alt="">
      </div>
      <div class="col-md-5">
        <h3 class="text-center">MARIO OBRAS (España)</h3>
        <p>Nuestro cliente Mario Obras en España, una empresa de reconstrucción
           y remodelaciones de interiores.</p>
    </div>

    <div class="col-md-5">
        <img src="assets/Images/laptop-clientes2.jpg" alt="">
      </div>
      <div class="col-md-5">
        <h3 class="text-center">FOX CLEAN MEXICO</h3>
        <p>En Mexico también tenemos clientes. Fox Clean es una empresa de limpieza
          a quienes brindamos nuestros servicos.</p>
    </div>

      <div class="col-md-5">
          <img src="assets/Images/laptop-clientes1.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3 class="text-center">MARIO ASISTENCIAS (España)</h3>
          <p>Mario Asistencias, una empresa de servicios 
            múltiples las 24 horas como cerrajería, fontanería, electrodomésticos, ordenadores y más.</p>
      </div>

      <div class="col-md-5">
          <img src="assets/Images/laptop-clientes3.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3 class="text-center">TRUE COLORS GUATEMALA</h3>
          <p>También hemos trabajado para La Academia de Inglés de Guatemala, 
            quienes se dedican a enseñarte un segundo idioma.</p>
      </div>

      <div class="col-md-5">
          <img src="assets/Images/laptop-clientes4.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3 class="text-center">LA SENDA ANTIGUA (California, Estados Unidos)</h3>
          <p>Iglesia Cristiana La Senda Antigua ubicada en California.</p>
      </div>

      <div class="col-md-5">
          <img src="assets/Images/laptop-clientes5.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3 class="text-center">RADIO LA SENDA ANTIGUA (California, Estados Unidos)</h3>
          <p>Radio de la Iglesia Cristiana La Senda Antigua ubicada en California.</p>
      </div>
</div>