<div class="container text-center">
<div>  
  <h2>AtChecker</h2>
  <br>
  <h4 class="text-secondary">Sistema de control de Asistencia <br>con reporte de tiempo real y notificaciones.</h4>
  <br>
  <img src="assets/Images/atchecker.png" alt="Error al cargar imagen" class="img-fluid" />
</div>
<br>
    <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
    <br> 
    <br><hr>
    <br>




<div>
  <h2>Iris27</h2>
  <br>
  <h4 class="text-secondary">Sistema de control de inventario, <br> 
    despachos, cuentas por pagar, reportes financieros, etc.</h4>
  <br>
<img src="assets/Images/Iris.png" alt="Error al cargar imagen" class="img-fluid" />
</div>
<br>
    <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
    <br> 
    <br><hr>
    <br>

<div>
    <h2>Zion Online</h2>
    <br>
    <h4 class="text-secondary">Sistema de control de pagos para centros educativos, <br> 
      cuentas por cobrar, servicios, productos, etc.</h4>
      <br>
      <img src="assets/Images/Zion.png" alt="Error al cargar imagen" class="img-fluid" />
</div>
<br>
    <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
    <br> 
    <br><hr>
    <br>

</div>