<meta name="description" content="iQ Studio, creación de software y aplicaciones.
Diseño Web Guatemala. Sistema de Control de Inventario. Foto Estudio, Fotografía
para eventos, edición y creación de videos.
Carnet en PVC, Gafete de identificación, Credenciales.
Control de Asistencia
" />

<div class="container text-center">
  <div >
    <h2>AtChecker</h2>
    <br>
    <h4 class="text-secondary">Sistema de control de Asistencia para centros educativos y empresas<br>
      con reportes en tiempo real y notificaciones.</h4>
    <br>
    <img src="assets/Images/atchecker.png" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <br>
  <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
  <br>
  <br>
  <hr>
  <br>
  <div>
    <h2>Iris27</h2>
    <br>
    <h4 class="text-secondary">Sistema de control de inventario, <br>
      despachos, cuentas por pagar, reportes financieros, entre otros.</h4>
    <br>
    <img src="assets/Images/Iris.png" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <br>
  <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
  <br>
  <br>
  <hr>
  <br>

  <div>
    <h2>Zion Online</h2>
    <br>
    <h4 class="text-secondary">Sistema de control de pagos para centros educativos, <br>
      cuentas por cobrar, servicios, productos, etc.</h4>
    <br>
    <img src="assets/Images/Zion.png" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <br>
  <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
  <br>
  <br>
  <hr>
  <br>

  <div>
    <h2>Gafete de Identificación PVC</h2>
    <br>
    <h4 class="text-secondary">Impresión térmica y elaboración de Credenciales de identificación Personal,
      carné de identificación estudiantil con números foliados y código de barra.</h4>
    <br>
    <img src="assets/Images/pvc.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <br>
  <a class="btn btn-info btn-lg" routerLink="/contact">Saber más...</a>
  <br>
  <br>
  <hr>
  <br>
</div>
