<div class="row">
  <div class="col-md-6">
    <br />
    <img src="assets/Images/desarrollo-web.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <div class="col-md-6">
    <br><br>
    <h3>DESARROLLO WEB</h3>
    <p class="text-secondary text-justify">
      Diseñamos su sitio web con las últimas tecnologías en lenguajes como: html, html5, css, javascript, php entre otros. Nos
      enfocamos en la usabilidad, desempeño y optimización con diseños FULL RESPONSIVE, amigables con dispositivos como tabletas
      y móviles.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <br><br>
    <h3>SEO Y POSICIONAMIENTO</h3>
    <p class="text-secondary text-justify">
      Nuestras páginas web están diseñadas para encaminarte hacia el ansiado objetivo de aparecer en los primeros resultados de
      búsqueda de Google cuando tus clientes consulten la marca o palabras clave relacionadas con el giro de tu negocio.
      Conoce nuestro Paquete de Optimización SEO.
    </p>
  </div>
  <div class="col-md-6">
    <br />
    <img src="assets/Images/SEOO.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <br />
    <img src="assets/Images/Marketing.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>

  <div class="col-md-6">
      <br><br>
    <h3>MARKETING DIGITAL</h3>
    <p class="text-secondary text-justify">
      Publicidad directa para llegar masivamente a tu segmento objetivo. Creamos, enviamos y analizamos los resultados de tu campaña.
      Creamos contenido de interés para atraer leads hacia su empresa. Diseñado para atraer a potenciales cliente.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <br><br>
    <h3>FOTOGRAFIA Y VIDEO</h3>
    <p class="text-secondary text-justify">
      Obtén un mayor impacto y mejora tus ventas. Con vídeos podrás llegar a una gran audiencia, si deseas crear una promoción,
      el vídeo es el modo más rápido para llegar a tus clientes.
  </div>
  <div class="col-md-6">
    <br />
    <img src="assets/Images/fotografia.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <br />
    <img src="assets/Images/aplicaciones.jpg" alt="Error al cargar imagen" class="img-fluid" />
  </div>
<br><br>
  <div class="col-md-6">
      <br><br>
    <h3>DESARROLLO DE APLICACIONES</h3>
    <p class="text-secondary text-justify">
      Nuestra especialidad es el desarrollo de aplicaciones para móviles y tablets. 
      Trabajamos tanto en nativo como con tecnologías
      multi-plataforma. Llevamos a cabo la
      toma de requisitos inicial para adaptar la aplicación a tus necesidades. 
      Si buscas una empresa de desarrollo, 
      somos tu mejor opción.
  </div>
</div>
