/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

#header {
    background-image: url(assets/Images/banner-img.jpg);
    min-height: 500px;
    
}

.navbar-brand {
    font-size:35px;
}
.nav-item {
    margin-left: 12px;
    margin-right: 12px;
}
.dropdown-item, .dropdown-toggle, .nav-link {color: white !important}
.active{
    border-bottom: 1px solid white;
}

#title {
    margin-top:8%;
    text-align:center;
    color:white;
    text-shadow:0px 0px 10px #000;
}

#title h1 { font-size:6em}
footer{padding:40px;  background-color:#bebdbd}
footer a {
    color:#1f1f1f;
    margin:15px;
}
body, footer{overflow-x:hidden;}

.cris{
    font-weight: bold; color: #282d52
}

label {font-weight: bold}