<div>
    <h1 class="text-center cris" >iQ Studio </h1>
    <h5 class="text-center text-secondary">
        Bienvenido al portal de iQ Studio. Para nosotros es importante tu comodidad, por eso te ofrecemos
        servicios capacitados de desarrollo y diseño web para aplicaciones o publibicidad optimizado para
        los dispositivos que desees. A  continuación encontrará la descripación de nuestros productos y servicios.

    </h5>
  </div>
  <br />
  <h3 class="text-center">Diseño y Soluciones Digitales</h3>
  <br />
  <div class="row" >

    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary fas fa-chalkboard-teacher"></h1>
        <h4 class= "text-secondary">
            TÉCNICOS ESPECIALIZADOS
        </h4>
        <p class="text-secondary">
            No vendemos profesionales “al peso”, sólo trabajamos con profesionales altamente cualificados cuya experiencia se encuentra acreditada.
        </p>
    </div>

    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary fas fa-pencil-ruler"></h1>
        <h4 class= "text-secondary">SOLUCIONES A TU MEDIDA </h4>
        <p class="text-secondary">
            Te ofrecemos las soluciones más adecuadas a las necesidades de tu negocio, mediante un diagnóstico y seguimiento personalizado.
        </p>
    </div>

    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary far fa-handshake"></h1>
        <h4 class= "text-secondary">ALIANZAS ESTRATÉGICAS</h4>
        <p class="text-secondary">
            Construimos relaciones firmes y duraderas con los profesionales y las empresas punteras en cada sector,
            que nos permiten estar en la vanguardia tecnológica y sin sobrecoste de intermediación.
        </p>
    </div>
    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary fas fa-chart-line"></h1>
        <h4 class= "text-secondary">EFICACIA Y EFICIENCIA</h4>
        <p class="text-secondary">
            Déjate ayudar. Somos el socio experto que necesitas para alcanzar tus metas, optimizar recursos,
            y maximizar el retorno de tu inversión.
        </p>
    </div>

    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary fas fa-hand-holding-heart"></h1>
        <h4 class= "text-secondary">PASIÓN Y COMPROMISO</h4>
        <p class="text-secondary">
            Déjate ayudar. Somos el socio experto que necesitas para alcanzar tus metas, optimizar recursos,
            y maximizar el retorno de tu inversión.
        </p>
    </div>
    <div class="col-md-4 text-center bubble">
        <h1 class="cris1 text-primary fas fa-people-carry"></h1>
        <h4 class= "text-secondary">SOPORTE 24/7</h4>
        <p class="text-secondary">
            Hay ocasiones en que las oportunidades pasan rápido, y nosotros no te haremos esperar.
            Si para tí es importante, para nosotros también.
        </p>
    </div>


  </div>

  <div class="row" style="margin-top:40px; padding:20px; background-image:url(assets/Images/fondo.jpg);background-size:cover;  margin-left:-120px; margin-right:-120px; padding-right:120px">
    <div class="col-md-6">
        <br />
        <img src="assets/Images/laptop.png" [@scrollAnimation]="state" alt="Error al cargar imagen" class="img-fluid" />
    </div>
    <div class="col-md-6 text-justify text-white" [@scrollAnimation]="state" >
        <h2>Acerca de Nosotros</h2>
        <p class="text-secondary">
            Somos una empresa joven, dinámica, flexible con muy buen ambiente de trabajo, en la que trabajamos por objetivos.
            Empresa en continuo crecimiento con oportunidades para desarrollarse profesionalmente.
        </p>
        <p class="text-secondary">
            Nuestro principal objetivo es captar leads o potenciales clientes para las empresas con las que trabajamos.
            Para ello, ofrecemos un servicio integral, desde el diseño de cero de la identidad corporativa,
            diseño y desarrollo del sitio web hasta la promoción del negocio online.
        </p>
        <p class="text-secondary">
            Aquí, usted encontrará algunos de los mejores y más versátiles constructores de sitios web del mercado.
            Con hermosos temas, aplicaciones personalizables, y hasta integración con elcarrito de compras,
            estas plataformas permiten la construcción de su sitio web en menos de una hora.
        </p>
    </div>
  </div>
