<main class="container">
  <div>
    <h1 class="text-center cris">iQ Studio </h1>
    <h5 class="text-center text-secondary">
      Bienvenido al portal de iQ Studio. <br> Para nosotros es importante su comodidad, por eso le ofrecemos
      servicios capacitados de desarrollo <br> y diseño web de aplicaciones y publibicidad adaptado y optimizado para
      todos los dispositivos.
    </h5>
  </div>
  <br />
  <h3 class="text-center">Diseño y Soluciones Digitales</h3>
  <br />
  <div class="row">

    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary fas fa-chalkboard-teacher"></h1>
      <h4 class="text-secondary">
        TÉCNICOS ESPECIALIZADOS
      </h4>
      <p class="text-secondary">
        Trabajamos con un grupo de profesionales altamente calificados y cuya experiencia
        se encuentra acreditada y en constante crecimiento.
      </p>
    </div>

    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary fas fa-pencil-ruler"></h1>
      <h4 class="text-secondary">SOLUCIONES A TU MEDIDA </h4>
      <p class="text-secondary">
        Le ofrecemos las soluciones más adecuadas a las necesidades de su negocio, mediante un diagnóstico y
        seguimiento personalizado.
      </p>
    </div>

    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary far fa-handshake"></h1>
      <h4 class="text-secondary">ALIANZAS ESTRATÉGICAS</h4>
      <p class="text-secondary">
        Construimos relaciones firmes y duraderas con los profesionales y las empresas en varios sectores,
        que nos permiten estar en la vanguardia tecnológica a un precio competitivo.
      </p>
    </div>
    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary fas fa-chart-line"></h1>
      <h4 class="text-secondary">EFICACIA Y EFICIENCIA</h4>
      <p class="text-secondary">
        Permítanos ayudarle. Somos el socio experto que necesitas para alcanzar tus metas, optimizar recursos,
        y maximizar el beneficio de su inversión.
      </p>
    </div>

    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary fas fa-hand-holding-heart"></h1>
      <h4 class="text-secondary">PASIÓN Y COMPROMISO</h4>
      <p class="text-secondary">
        Nuestra mayor satisfacción es poder ver la satisfacción de cada uno de nuestros clientes, al poder
        ofrecerles soluciones eficaces, en donde se evidencia nuestro compromiso.
      </p>
    </div>
    <div class="col-md-4 text-center bubble">
      <h1 class="cris1 text-primary fas fa-headset"></h1>
      <h4 class="text-secondary">CHAT EN VIVO</h4>
      <p class="text-secondary">
        Hay ocasiones en que las oportunidades pasan rápido, y nosotros no te haremos esperar.
        Si para tí es importante, para nosotros también.
      </p>
    </div>


  </div>
</main>
<div class="row" style="margin-top:40px; padding:20px; background-image:url(assets/Images/fondo.jpg);background-size:cover;  ">
  <div class="col-md-6">
    <br />
    <img src="assets/Images/laptop.png" [@scrollAnimation]="state" alt="Error al cargar imagen" class="img-fluid" />
  </div>
  <div class="col-md-5 text-justify text-white" [@scrollAnimation]="state">
    <h2>Acerca de Nosotros</h2>
    <p class="text-secondary">
      Somos una empresa joven, dinámica, flexible con muy buen ambiente de trabajo, en la que trabajamos por
      objetivos; lo que nos poermise estar
      en continuo crecimiento con oportunidades para desarrollarse profesionalmente.
    </p>
    <p class="text-secondary">
      Nuestro principal objetivo es captar y potenciales clientes para las empresas con las que trabajamos.
      Para ello, ofrecemos un servicio integral, desde el diseño de la plantilla, paleta de color,
      desarrollo y depuración del sitio web hasta, la promoción del negocio online.
    </p>
    <p class="text-secondary">
      Usted podrá contar con hermosos temas, aplicaciones personalizables, y hasta integración con elcarrito de
      compras e i-comerce.
    </p>

    <a class="btn btn-secondary" [routerLink]="['/contact']" >Solicite una cotización</a>
  </div>
</div>
